<div class="Auth_inputContainer__2yTId">
    <div class="input-container">
        <span class="field-label">EMAIL ADDRESS</span>
        <label class="label-txt" for="email">
            <input required="" autocomplete="on" type="email"
                   class="input-txt error" id="email" name="username"
                   aria-label="EMAIL ADDRESS" data-hide="true"
                   value="am.mehri@outlook.com">
        </label>
        <span id="email-input-error" class="error-text ">Looks like you already have a Harry Potter Fan Club account with this email.
            <span tabindex="-1">
            <a tabindex="-1" href="https://my.wizardingworld.com/login">Login</a>
        </span> instead?</span>
    </div>
    <div class="input-container">
        <span class="field-label">PASSWORD</span>
        <label class="label-txt" for="emailVerify">
            <input required="" autocomplete="on" type="password"
                   class="input-txt" id="password" name="password1"
                   aria-label="NEW PASSWORD" data-hide="true"
                   value="1234Asdf">
        </label>
    </div>
    <div class="input-container">
        <span class="field-label">PASSWORD CONCIRFMATION</span>
        <label class="label-txt" for="password">
            <input required="" autocomplete="off" type="password"
                   class="input-txt" id="password" name="password2"
                   aria-label="PASSWORD CONCIRFMATION" data-hide="true"
                   value="1234Asdf">
            <div class="input-svg TogglePassword_icon__3MKc_" role="button" tabindex="-1">
                <svg class="" width="16px" height="16px" viewBox="0 0 32 32">
                    <path fill="#999"
                          d="M 15 5 C 6.081703 5 0.32098813 14.21118 0.21679688 14.378906 A 1 1 0 0 0 0 15 A 1 1 0 0 0 0.16210938 15.544922 A 1 1 0 0 0 0.16601562 15.550781 C 0.18320928 15.586261 5.0188313 25 15 25 C 24.938822 25 29.767326 15.678741 29.826172 15.564453 A 1 1 0 0 0 29.837891 15.544922 A 1 1 0 0 0 30 15 A 1 1 0 0 0 29.785156 14.380859 A 1 1 0 0 0 29.783203 14.378906 C 29.679012 14.21118 23.918297 5 15 5 z M 15 8 C 18.866 8 22 11.134 22 15 C 22 18.866 18.866 22 15 22 C 11.134 22 8 18.866 8 15 C 8 11.134 11.134 8 15 8 z M 15 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 18 A 3 3 0 0 0 18 15 A 3 3 0 0 0 15 12 z"></path>
                </svg>
            </div>
        </label>
    </div>
</div>
<div class="Auth_recaptchaNotice__12sw3">This site is protected by reCAPTCHA and the Google
    <a
            href="https://policies.google.com/privacy" target="_blank" rel="noreferrer noopener">Privacy
        Policy</a>
    and
    <a href="https://policies.google.com/terms" target="_blank"
       rel="noreferrer noopener">Terms of Service</a>
    apply.
</div>
<div class="Auth_instructionContainer__3GYaL">
    <div class="Auth_instruction__3hKkO">Passwords don't need to be in Parseltongue, but they must
        contain the following:
    </div>
    <div class="StringRequirement_stringRequirement__27Y2J">
        <svg height="13" viewBox="0 0 16 13" width="16">
            <path d="m5.6 8-3.2-3.2-2.4 2.4 5.6 5.6 10.4-10.4-2.4-2.4z" fill="#fff"></path>
        </svg>
        <span class="StringRequirement_requirement__2SGTV StringRequirement_requirementMet__3zW3s">A minimum of 8 characters</span>
    </div>
    <div class="StringRequirement_stringRequirement__27Y2J">
        <svg height="13" viewBox="0 0 16 13" width="16">
            <path d="m5.6 8-3.2-3.2-2.4 2.4 5.6 5.6 10.4-10.4-2.4-2.4z" fill="#fff"></path>
        </svg>
        <span class="StringRequirement_requirement__2SGTV StringRequirement_requirementMet__3zW3s">A number and combination of uppercase and lowercase characters.</span>
    </div>
</div>
<div class="Auth_btnContainer__34Wck">
    {#    <button type="submit" icon="" id="button" class="Button_btnPrimary__g_WP5 undefined "#}
    {#            disabled="" style="margin-top: 3px; margin-bottom: 0px;">#}
    {#        <div class="Button_inner__zNO9j">CONTINUE</div>#}
    {#    </button>#}

    <button type="submit" icon="" id="button" class="Button_btnPrimary__g_WP5"
            style="margin-top: 3px; margin-bottom: 0px;">
        <div class="Button_inner__zNO9j">CONTINUE</div>
    </button>
</div>