<!DOCTYPE html>
<html lang="fa">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Test</title>

    <link rel="stylesheet" href="../static/16p/main-core--a67684.css">
    <link rel="stylesheet" href="../static/16p/fonts--141580.css">

    <link rel="stylesheet" href="../static/16p/main-noncore--e55dbe.css">

    <link href="../static/16p/css2" rel="stylesheet">
    <link rel="stylesheet" href="../static/16p/font-awesome--0d9504.css">
    <link rel="stylesheet" href="../static/16p/font-awesome--0d9504.css">

    <link rel="stylesheet" href="../static/16p/international--a80427.css">
    <link href="../static/16p/international--large--4d8654.css" rel="stylesheet"
          media="screen and (min-width: 768px)">

    <link href="../static/16p/large--21d729.css" rel="stylesheet"
          media="screen and (min-width: 768px)">

    <link href="../static/16p/print--f081cc.css" rel="stylesheet" media="print">

    <link href="../static/16p/css" rel="stylesheet" type="text/css">

</head>

<body role="document" class="scrolling--dn">

<div id="main-app" class="main-wrapper int fa">
    <main id="test-app" class="q-pt">
        <header>
            <h1>آزمون شخصیت</h1>
        </header>
        <div id="main-app">
            <div>
                <div data-chunk="quiz-chunk">
                    <div id="progress-wrapper" class="progress-wrapper initial">
                        <div class="percentage">0%</div>
                        <div class="progress-bar">
                            <div class="filler" style="width: 0%;"></div>
                        </div>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="test-questions comp">
                            {% for q in questions %}
                                <div data-v-2e73c643="" class="question">
                                    <div data-v-2e73c643="" class="statement">
                                        <span data-v-2e73c643="" id="stmt_cecam0mmt6">{{ q.question |safe }}</span>
                                        <!----></div>
                                    <div data-v-2e73c643="" role="radiogroup" aria-labelledby="stmt_cecam0mmt6"
                                         class="decision">
                                        <div data-v-2e73c643="" class="caption agree">موافقم</div>
                                        <div data-v-2e73c643="" class="options">
                                            <div data-v-2e73c643="" role="radio" aria-label="agree max" data-index="0"
                                                 aria-checked="true" tabindex="0" class="option agree max"
                                                 name="{{ q.question_id }}"
                                                 id="gridRadios1"
                                                 value="agree_max">
                                            <span
                                                    data-v-2e73c643="" aria-hidden="true" class="far fa-check"></span>
                                            </div>
                                            <div data-v-2e73c643="" role="radio" aria-label="agree med" data-index="1"
                                                 aria-checked="false" tabindex="-1"
                                                 class="option agree med" name="{{ q.question_id }}"
                                                 id="gridRadios1" value="agree_med">
                                                <span
                                                        data-v-2e73c643="" aria-hidden="true"
                                                        class="far fa-check"></span>
                                            </div>
                                            <div data-v-2e73c643="" role="radio" aria-label="agree min" data-index="2"
                                                 aria-checked="false" tabindex="-1"
                                                 class="option agree min" name="{{ q.question_id }}"
                                                 id="gridRadios1" value="agree_min">
                                                <span
                                                        data-v-2e73c643="" aria-hidden="true"
                                                        class="far fa-check"></span>
                                            </div>
                                            <div data-v-2e73c643="" role="radio" aria-label="neutral" data-index="3"
                                                 aria-checked="false" tabindex="-1"
                                                 class="option neutral" name="{{ q.question_id }}"
                                                 id="gridRadios1" value="neutral">
                                                <span
                                                        data-v-2e73c643="" aria-hidden="true"
                                                        class="far fa-check"></span>
                                            </div>
                                            <div data-v-2e73c643="" role="radio" aria-label="disagree min"
                                                 data-index="4"
                                                 aria-checked="false" tabindex="-1"
                                                 class="option disagree min" name="{{ q.question_id }}"
                                                 id="gridRadios1" value="disagree_min">
                                                <span
                                                        data-v-2e73c643="" aria-hidden="true"
                                                        class="far fa-check"></span>
                                            </div>
                                            <div data-v-2e73c643="" role="radio" aria-label="disagree med"
                                                 data-index="5"
                                                 aria-checked="false" tabindex="-1"
                                                 class="option disagree med" name="{{ q.question_id }}"
                                                 id="gridRadios1" value="disagree_med">
                                                <span
                                                        data-v-2e73c643="" aria-hidden="true"
                                                        class="far fa-check"></span>
                                            </div>
                                            <div data-v-2e73c643="" role="radio" aria-label="disagree max"
                                                 data-index="6"
                                                 aria-checked="false" tabindex="-1"
                                                 class="option disagree max" name="{{ q.question_id }}"
                                                 id="gridRadios1" value="disagree_max">
                                                <span
                                                        data-v-2e73c643="" aria-hidden="true"
                                                        class="far fa-check"></span>
                                            </div>
                                        </div>
                                        <div data-v-2e73c643="" class="caption disagree">مخالفم</div>
                                    </div>
                                    <div data-v-2e73c643="" class="decision mobile">
                                        <div data-v-2e73c643="" class="caption agree">موافقم</div>
                                        <div data-v-2e73c643="" class="caption disagree">مخالفم</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="action-row">
                            <button type="button"
                                    class="sp-button button--action button--purple button--lg button--pill button--fixed button--icon-lt">
                            <span data-v-5c0ea640=""
                                  class="sp-icon icon--inherit icon--rotatable icon--dir-lt icon--arrow"><svg
                                    xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 48 48"
                                    aria-labelledby="i_xpjpybj9i0"><title id="i_xpjpybj9i0">Back</title> <path
                                    data-v-5c0ea640=""
                                    d="M23.296875,3.421875 L22.63125,4.0875 C22.190625,4.528125 22.190625,5.240625 22.63125,5.68125 L39.365625,22.40625 L4.125,22.40625 C3.50625,22.40625 3,22.9125 3,23.53125 L3,24.46875 C3,25.0875 3.50625,25.59375 4.125,25.59375 L39.365625,25.59375 L22.63125,42.328125 C22.190625,42.76875 22.190625,43.48125 22.63125,43.921875 L23.296875,44.5875 C23.7375,45.028125 24.45,45.028125 24.890625,44.5875 L44.68125,24.796875 C45.121875,24.35625 45.121875,23.64375 44.68125,23.203125 L24.890625,3.421875 C24.440625,2.98125 23.7375,2.98125 23.296875,3.421875 Z"></path></svg></span>
                                <span class="button__text">نتیجه</span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="social-popup"><a
                    href="https://twitter.com/intent/tweet?text=%E2%80%9C%E2%80%9D&amp;url=https://www.16personalities.com/fa/%D8%A2%D8%B2%D9%85%D9%88%D9%86-%D8%B4%D8%AE%D8%B5%DB%8C%D8%AA&amp;via=16Personalities&amp;hashtags=16Personalities"
                    target="_blank" class="twitter"><span class="fab fa-twitter"></span></a> <a
                    href="mailto:?body=%E2%80%9C%E2%80%9D%0D%0A%0D%0Ahttps://www.16personalities.com/fa/%D8%A2%D8%B2%D9%85%D9%88%D9%86-%D8%B4%D8%AE%D8%B5%DB%8C%D8%AA"
                    class="email"><span class="fal fa-envelope"></span></a></div>
            <div class="modal__container">
                <div id="portal--modal">
                    <div data-v-67de67e8="" class="modal__grandparent"><!----> <!----></div>
                    <div data-v-67de67e8="" class="modal__grandparent"><!----> <!----></div>
                    <div data-v-67de67e8="" data-v-6eacb992="" class="modal__grandparent"><!----> <!----></div>
                    <div data-v-67de67e8="" data-v-6eacb992="" class="modal__grandparent"><!----> <!----></div>
                    <div data-v-67de67e8="" class="modal__grandparent"><!----> <!----></div>
                    <div data-v-67de67e8="" class="modal__grandparent"><!----> <!----></div>
                    <div data-v-67de67e8="" data-v-61021af3="" class="modal__grandparent"><!----> <!----></div>
                    <div data-v-67de67e8="" data-v-61021af3="" class="modal__grandparent"><!----> <!----></div>
                </div>
                <div id="portal--modalbg">
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                    <div data-v-67de67e8="" class="modal__bg is--hidden" style="display: none;"></div>
                </div>
            </div>
            <div class="scrollbar-measure"></div>
        </div>
    </main>
    <div class="push"></div>
    <div class="social-popup">
        <a href="https://twitter.com/intent/tweet?text=%E2%80%9C%E2%80%9D&amp;url=https://www.16personalities.com/fa/%D8%A2%D8%B2%D9%85%D9%88%D9%86-%D8%B4%D8%AE%D8%B5%DB%8C%D8%AA&amp;via=16Personalities&amp;hashtags=16Personalities"
           target="_blank" class="twitter"><span class="fab fa-twitter"></span></a>
        <a href="mailto:?body=%E2%80%9C%E2%80%9D%0D%0A%0D%0Ahttps://www.16personalities.com/fa/%D8%A2%D8%B2%D9%85%D9%88%D9%86-%D8%B4%D8%AE%D8%B5%DB%8C%D8%AA"
           class="email">
            <span class="fal fa-envelope"></span>
        </a>
    </div>
    <div class="modal__container">
        <div id="portal--modal"></div>
        <div id="portal--modalbg"></div>
    </div>

</div>
</div>
</body>
</html>